# Importing Important libraries

In [8]:
import pickle
import pandas as pd
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import TfidfVectorizer

In [9]:
data = pd.read_csv("language_detection.csv")
data.head()

                                                Text  language
0  klement gottwaldi surnukeha palsameeriti ning ...  Estonian
1  sebes joseph pereira thomas  på eng the jesuit...   Swedish
2  ถนนเจริญกรุง อักษรโรมัน thanon charoen krung เ...      Thai
3  விசாகப்பட்டினம் தமிழ்ச்சங்கத்தை இந்துப் பத்திர...     Tamil
4  de spons behoort tot het geslacht haliclona en...     Dutch

In [10]:
# How many unique languages are there?
unique_langs = data.language.unique()
print("There are",len(unique_langs), "unique languages.")
print(unique_langs)
print("\nLanguages and their amounts of text data:")
data.language.value_counts()

There are 22 unique languages.
['Estonian' 'Swedish' 'Thai' 'Tamil' 'Dutch' 'Japanese' 'Turkish' 'Latin'
 'Urdu' 'Indonesian' 'Portugese' 'French' 'Chinese' 'Korean' 'Hindi'
 'Spanish' 'Pushto' 'Persian' 'Romanian' 'Russian' 'English' 'Arabic']

Languages and their amounts of text data:

Estonian      1000
Swedish       1000
English       1000
Russian       1000
Romanian      1000
Persian       1000
Pushto        1000
Spanish       1000
Hindi         1000
Korean        1000
Chinese       1000
French        1000
Portugese     1000
Indonesian    1000
Urdu          1000
Latin         1000
Turkish       1000
Japanese      1000
Dutch         1000
Tamil         1000
Thai          1000
Arabic        1000
Name: language, dtype: int64

In [12]:
# Text transformation.
lang_transformer = TfidfVectorizer()
x = lang_transformer.fit_transform(data.Text)
# Saving transformer
# pickle.dump(lang_transformer, open("lang-transformer.pkl", "wb"))

In [13]:
# Data splitting
y = data.language
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size= 0.2, random_state= 42)

In [14]:
model = DecisionTreeClassifier()
model.fit(x_train, y_train)
# Saving model
# pickle.dump(model, open("lang-model.pkl", "wb"))

In [38]:
# Model Accuracy on test set.
from sklearn.metrics import accuracy_score
accuracy_score(y_test, model.predict(x_test))

0.8981818181818182

In [40]:
data.Text[0]

'klement gottwaldi surnukeha palsameeriti ning paigutati mausoleumi surnukeha oli aga liiga hilja ja oskamatult palsameeritud ning hakkas ilmutama lagunemise tundemärke  aastal viidi ta surnukeha mausoleumist ära ja kremeeriti zlíni linn kandis aastatel – nime gottwaldov ukrainas harkivi oblastis kandis zmiivi linn aastatel – nime gotvald'